html {
  background: white;
  color: #0B0C0C;
}

body {
  background: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.3157894737;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 640px) {
  body {
    font-size: 15px;
  }
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

#wrapper {
  position: relative;
}

#banner {
  background: #0b0c0d;
  height: 51px;
}

h1 {
  margin: 11px 0 0 15px;
}

h1 a {
  position: relative;
  display: block;
  height: 30px;
  width: 166px;
  overflow: hidden;
}

h1 a img {
  position: absolute;
  left: -166px;
  top: 0;
  border: none;
  width: 200%;
  height: 300%;
}

h1 a:hover img {
  top: -30px;
}

.inner {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: 1px) {
  .inner {
    width: auto;
    max-width: 900px;
  }
}

h2 {
  padding-bottom: 30px;
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
}

h2 strong {
  display: block;
  padding-bottom: 10px;
  font-size: 19px;
  line-height: 25px;
}

h2 a {
    text-decoration: none;
    color: inherit;
}

h2 a:hover {
    text-decoration: underline;
}

@media (min-width: 641px) {
  #report-a-problem-container h3, form {
    padding-left: 25%;
    max-width: 600px
  }
}

h3 {
  font-weight: bold;
}

p {
  color: #6F777B;
  margin-bottom: 1em;
}

a {
  color: #2E3191;
}

a:hover,
a:focus {
  color: #2E8ACA;
}

a:active {
  color: #df3034;
}

#report-a-problem-container {
  padding-top: 60px;
}

fieldset {
  border: none;
  padding: 15px 0 0;
}

.caption, input {
  display: block;
  width: 100%;
}

.caption {
  padding-bottom: 5px;
}

input {
  padding: 7px 0 3px;
  text-indent: 5px;
}

button {
  border: none;
  margin-top: 5px;
  padding: 7px 11px 3px;
  color: white;
  background: #008270;
  cursor: pointer;
  overflow: visible;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 3px 0 #044d43;
  -webkit-box-shadow: 0 3px 0 #044d43;
  box-shadow: 0 3px 0 #044d43;
  -webkit-font-smoothing: antialiased;
}

button:hover,
button:focus {
  background: #07ac96;
}

#message {
  margin: 0 auto;
  max-width: 900px;
}

#detail {
  margin: 0 15px;
  max-width: 600px;
}

/**
 * Organisation logos
 */
.organisation {
  margin: 45px 0 0 15px;
  padding-bottom: 30px;
}

.organisation a {
  display: block;
  color: #000;
  border-left: 3px solid #000;
  padding: 10px 0 0 65px;
  background-image: url('crests/org_crest_18px_x2.png');
  background-repeat: no-repeat;
  background-position: 10px 0px;
  background-size: auto 40px;
  text-decoration: none;
}

.organisation a:hover,
.organisation a:focus {
  color: #000;
  text-decoration: underline;
}

.organisation a span {
  position: relative;
  left: 2px;
  top: -2px;
  display: block;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 27px;
  line-height: 30px;
}

@media (max-width: 640px) {
  .organisation a {
    background-image: url('crests/org_crest_13px_x2.png');
    background-position: 5px 0px;
    background-size: auto 25px;
    border-left: 2px solid #000;
    padding: 0 0 0 40px;
  }

  .organisation a span {
    font-size: 18px;
    line-height: 25px;
    top: 0;
  }
}

/**
 * Organisation-specific branding
 */
.attorney-generals-office a {
  border-color: #9f1888;
}

.cabinet-office a {
  border-color: #005abb;
}

.department-for-business-innovation-skills a {
  background-image: url('crests/bis_crest_18px_x2.png');
  border-color: #003479;
}

@media (max-width: 640px) {
  .department-for-business-innovation-skills a {
    background-image: url('crests/bis_crest_13px_x2.png');
  }
}

.department-for-communities-and-local-government a {
  border-color: #00857e;
}

.department-for-culture-media-sport a {
  border-color: #d40072;
}

.department-for-education a {
  border-color: #003a69;
}

.department-for-environment-food-rural-affairs a {
  border-color: #898700;
}

.department-for-international-development a {
  border-color: #002878;
}

.department-for-transport a {
  border-color: #006c56;
}

.department-for-work-pensions a {
  border-color: #00beb7;
}

.department-of-energy-climate-change a {
  border-color: #009ddb;
}

.department-of-health a {
  border-color: #00ad93;
}

.foreign-commonwealth-office a {
  border-color: #003e74;
}

.government-equalities-office a {
  border-color: #9325b2;
}

.hm-government a {
  border-color: #0076c0;
}

.hm-treasury a {
  border-color: #af292e;
}

.home-office a {
  background-image: url('crests/ho_crest_18px_x2.png');
  border-color: #9325b2;
}

@media (max-width: 640px) {
  .home-office a {
    background-image: url('crests/ho_crest_13px_x2.png');
  }
}

.ministry-of-defence a {
  background-image: url('crests/mod_crest_18px_x2.png');
  border-color: #4d2942;
}

@media (max-width: 640px) {
  .ministry-of-defence a {
    background-image: url('crests/mod_crest_13px_x2.png');
  }
}

.ministry-of-justice a {
  border-color: #231f20;
}

.northern-ireland-office a {
  border-color: #002663;
}

.office-of-the-advocate-general-for-scotland a {
  border-color: #002663;
}

.office-of-the-leader-of-the-house-of-lords a {
  border-color: #9c132e;
}

.scotland-office a {
  background-image: url('crests/so_crest_18px_x2.png');
  border-color: #002663;
}

@media (max-width: 640px) {
  .scotland-office a {
    background-image: url('crests/so_crest_13px_x2.png');
  }
}

.wales-office a {
  background-image: url('crests/wales_crest_18px_x2.png');
  border-color: #a33038;
}

@media (max-width: 640px) {
  .wales-office a {
    background-image: url('crests/wales_crest_13px_x2.png');
  }
}
