<html class="no-branding">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>418 - Awaiting Content</title>
    <link href="/gone.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="wrapper">
      <div id="banner">
        <div class="inner">
          <h1><a href="http://gov.uk">GOV.UK</a></h1>
        </div>
      </div>
      <div id="message">
        <div class="inner">
          <div id="brand">
            <a href="<%= homepage %>">
              <img src="/govuk-crest.png" alt="govuk-crest" width="125" height="102">
              <p><%=title%></p>
            </a>
          </div>
          <h2>
            <strong><%= page_title %></strong>
            This page has not been published&nbsp;yet
          </h2>
          <div id="detail">
            <h3>418</h3>
            <p>New content for this page is coming soon. You can find <a href="<%= archive_link %>">an older version in the National Archives</a>.</p>
            <p>Our <a href="https://www.gov.uk/support">support pages</a> have answers to the most common questions about GOV.UK.
            You can use the <a href="https://www.gov.uk/feedback/contact">contact form</a> to ask a question, report a problem or suggest an improvement.</p>
        </div>
      </div>
    </div>
  </body>
</html>
